In [14]:
import pandas as pd 
import numpy as np 
from scipy.spatial.distance import euclidean
from collections import Counter

In [2]:
df = pd.read_csv('D:\Learning\Week4_1_data.csv')
df.head(5)

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,20201701,1982,Graduation,Single,58138.0,9/4/2012,58,8,4,0,3,11
1,20201702,1950,Graduation,Married,46344.0,3/8/2014,38,1,2,0,3,11
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11
3,20201704,1984,Graduation,Relationship,26646.0,2/10/2014,26,2,4,0,3,11
4,20201705,1981,PhD,Widowed,58293.0,1/19/2014,94,5,6,0,3,11

In [8]:
# Task 1: Thong ke so luong khach hang theo hoc van(High school,master,...)
df['educational_level'].value_counts()

educational_level
Graduation     257
PhD            114
Master          81
High School     40
Basic            7
Name: count, dtype: int64

Annual Income have null values so first have to deal with it by fill in or remove the null values

In [9]:
# Task 2: in ra 20 khach hang co thu nhap ca nhan(annual_income) cao nhat
df.isnull().sum()

customer_id           0
year_of_birth         0
educational_level     0
marital_status        0
annual_income        13
purhcase_date         0
recency               0
online_purchases      0
store_purchases       0
complaints            0
calls                 0
intercoms             0
dtype: int64

In [11]:
mean_annual_income= df['annual_income'].mean()

In [12]:
df['annual_income'].fillna(value=mean_annual_income,inplace=True)

In [13]:
df.isnull().sum()

customer_id          0
year_of_birth        0
educational_level    0
marital_status       0
annual_income        0
purhcase_date        0
recency              0
online_purchases     0
store_purchases      0
complaints           0
calls                0
intercoms            0
dtype: int64

In [20]:
top_20_customers = df.sort_values(by='annual_income', ascending=False).head(20)
print("Top 20 customers with the highest annual income:")
print(top_20_customers[['customer_id', 'annual_income']])

Top 20 customers with the highest annual income:
     customer_id  annual_income
164     20201865       157243.0
252     20201953       102692.0
203     20201904       102160.0
124     20201825       101970.0
424     20202125        93027.0
426     20202127        92910.0
140     20201841        92859.0
418     20202119        91065.0
116     20201817        90765.0
456     20202157        89572.0
109     20201810        89058.0
67      20201768        88194.0
120     20201821        88193.0
198     20201899        86718.0
407     20202108        86164.0
142     20201843        86111.0
113     20201814        86037.0
102     20201803        85693.0
356     20202057        85503.0
195     20201896        85317.0

In [ ]:
# Task 3: In ra khách hàng sinh sau năm 1960 và thu nhập trên 50.000 đô/ năm 
# Filter customers born after 1960 and with annual income above $50,000
filtered_customers = df[(df['year_of_birth'] > 1960) & (df['annual_income'] > 50000)]
# Display the filtered customers
print("Customers born after 1960 with an annual income above $50,000:")
print(filtered_customers[['customer_id', 'year_of_birth', 'annual_income']])

Customers born after 1960 with an annual income above $50,000:
     customer_id  year_of_birth  annual_income
0       20201701           1982        58138.0
2       20201703           1965        71613.0
4       20201705           1981        58293.0
5       20201706           1967        62000.0
6       20201707           1971        55635.0
..           ...            ...            ...
486     20202187           1976        56290.0
487     20202188           1974        60093.0
493     20202194           1964        58308.0
495     20202196           1962        59432.0
496     20202197           1978        55563.0

[215 rows x 3 columns]

In [30]:
# Task 4: ket hop dieu kien task 2 va 3

In [ ]:
filtered_df = df[(df['year_of_birth'] > 1960) & (df['annual_income'] > 50000)]
sorted_customers = filtered_df.sort_values(by='annual_income', ascending=False)
top_20_filtered_customers = sorted_customers.head(20)
print("Top 20 customers born after 1960 with an income above $50,000:")
print(top_20_filtered_customers[['customer_id', 'year_of_birth', 'annual_income']])

Top 20 customers born after 1960 with an income above $50,000:
     customer_id  year_of_birth  annual_income
252     20201953           1997       102692.0
203     20201904           1989       102160.0
424     20202125           1967        93027.0
140     20201841           1987        92859.0
418     20202119           2000        91065.0
116     20201817           2000        90765.0
109     20201810           1993        89058.0
67      20201768           1984        88194.0
198     20201899           1984        86718.0
407     20202108           1989        86164.0
142     20201843           1989        86111.0
113     20201814           1997        86037.0
102     20201803           1986        85693.0
195     20201896           1981        85317.0
430     20202131           1975        84865.0
347     20202048           1970        84835.0
29      20201730           1965        84618.0
176     20201877           1991        83837.0
217     20201918           1985        83790.0
389     20202090           1980        83664.0

In [44]:
#Task 5: In ra khach hang co tinh trang hon nhan la da ket hon or da ly hon
marriage_status = df[(df['marital_status'] == 'Married') | (df['marital_status'] == "Divorced")]
print("Customers with marriage status married or divorced" )
print(marriage_status[['customer_id', 'marital_status']])

Customers with marriage status married or divorced
     customer_id marital_status
1       20201702        Married
2       20201703       Divorced
6       20201707       Divorced
7       20201708        Married
12      20201713       Divorced
..           ...            ...
488     20202189        Married
491     20202192       Divorced
494     20202195       Divorced
495     20202196       Divorced
496     20202197       Divorced

[212 rows x 2 columns]

In [47]:
#Task 6: Tính mức thu nhập trung bình theo trình độ học vấn
average_income_by_education = df.groupby('educational_level')['annual_income'].mean()
print(average_income_by_education)

educational_level
Basic          19514.571429
Graduation     51603.054603
High School    44337.212603
Master         51194.944495
PhD            55762.557126
Name: annual_income, dtype: float64

In [54]:
# Task 7: Tính mức thu nhập trung bình theo trình độ học vấn + tình trạng hôn nhân
average_income_by_education_and_marriage_status = df.groupby(['educational_level', 'marital_status'])['annual_income'].mean()
print(average_income_by_education_and_marriage_status)

educational_level  marital_status
Basic              Divorced          20797.000000
                   Relationship      16443.000000
                   Single            24882.000000
Graduation         Divorced          52427.826615
                   Married           49654.119526
                   Relationship      53219.117808
                   Single            51706.401842
                   Widow             48097.500000
                   Widowed           52221.600000
High School        Divorced          49483.333333
                   Married           38747.533333
                   Relationship      51574.692308
                   Single            48952.250686
                   Widow             28457.000000
                   Widowed           25592.000000
Master             Divorced          46979.583333
                   Married           52810.526316
                   Relationship      46278.225206
                   Single            56847.142857
                   Widow             51529.000000
                   Widowed           51094.000000
PhD                Divorced          56062.375206
                   Married           53011.979338
                   Relationship      57807.887230
                   Single            54087.631579
                   Widow             50520.000000
                   Widowed           57535.105263
Name: annual_income, dtype: float64

In [ ]:
# Task 8: Đưa ra các kết luận, đánh giá về các phân khúc khách hàng dựa vào kết quả của Task 1-7

In [6]:
df2 = pd.read_csv('D:\Learning\Iris (1).csv')
df2.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [63]:
# 1a 
mean_sepal_length = df2.groupby(['Species'])['SepalLengthCm'].mean()
mean_sepal_width = df2.groupby(['Species'])['SepalWidthCm'].mean()
print("Mean sepal length: ")
print(mean_sepal_length)
print("Mean speal width: ")
print(mean_sepal_width)

Mean sepal length:
Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64
Mean speal width:
Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [70]:
top_10_each_species_length = df2.groupby(['Species'])['SepalLengthCm'].head(10)
print(top_10_each_species_length)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
50     7.0
51     6.4
52     6.9
53     5.5
54     6.5
55     5.7
56     6.3
57     4.9
58     6.6
59     5.2
100    6.3
101    5.8
102    7.1
103    6.3
104    6.5
105    7.6
106    4.9
107    7.3
108    6.7
109    7.2
Name: SepalLengthCm, dtype: float64

In [64]:
#2a
max_sepal_length = df2.groupby(['Species'])['SepalLengthCm'].max()
print("Max length of each species: ")
print(max_sepal_length)
max_sepal_width = df2.groupby(['Species'])['SepalWidthCm'].max()
print("Max sepal width of each species: ")
print(max_sepal_width)

Max length of each species:
Species
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: SepalLengthCm, dtype: float64
Max sepal width of each species:
Species
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: SepalWidthCm, dtype: float64

In [ ]:
#3a

In [ ]:
#1b: In ra chieu dai dai hoa lon nhat cua 10 bong hoa moi loai
def largest_length_species()

In [74]:
# Split the dataset into features (X) and labels (y)
X = df2[['SepalLengthCm', 'SepalWidthCm']]
y = df2['Species']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [76]:
knn.fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [77]:
def classify_iris(sepal_length, sepal_width):
    # Create a new data point with the given inputs
    input_data = np.array([[sepal_length, sepal_width]])
    # Predict the flower type using the k-NN model
    prediction = knn.predict(input_data)
    return prediction[0]

In [ ]:
sepal_length = float(input("Enter sepal length: "))
sepal_width = float(input("Enter sepal width: "))
flower_type = classify_iris(sepal_length, sepal_width)
print(f"The flower is classified as: {flower_type}")

The flower is classified as: Iris-setosa

d:\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(