In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('D:\Learning\Machine-Learning-\data\dataset_1.csv')
df.head(10)

,Rank,City,Population,Area KM2,Area M2,Density KM2,Density M2,Country,Year
0,1.0,Manila,"1,846,513",43,17,"43,062","111,532",Filipinler *,2020 [1] 2018 [2]
1,2.0,Mandaluyong,"425,758",11,4,"38,495","99,703",Filipinler *,2020 [1] [3]
2,3.0,pateros,"65,227",2,1,"37,061","95,988",Filipinler *,2020 [1] 2013 [3]
3,4.0,Caloocan,"1,661,584",53,21,"31,233","80,893",Filipinler *,2020 [1] [3]
4,5.0,ben fren,"212,646",7,3,"30,001","77,702",İsrail *,2022 [4] [5]
5,6.0,Katmandu,"1,442,000",49,19,"29,161","75,526",Nepal *,2020 [6]
6,7.0,Dakka,"8,906,136",306,118,"29,069","75,289",Bangladeş *,-
7,8.0,Makati,"629,616",22,8,"28,975","75,044",Filipinler *,2020 [1] [3]
8,9.0,Manhattan,"1,628,701",59,23,"27,544","71,340",Amerika Birleşik Devletleri,2020
9,10.0,Port-au-Prince,"987,310",36,14,"27,395","70,953",Hatay *,2015 [7]

In [17]:
#Task 1: Rearrange and print out top 10 cities with most populations and top 10 cities with smallest population
top_10_city_most_populations = df.sort_values(by='Population',ascending=True).head(10)
print(top_10_city_most_populations[['City','Population']])

                     City  Population
31                  naber   1,072,161
55  Ciudad Nezahualcóyotl   1,110,565
5                Katmandu   1,442,000
8               Manhattan   1,628,701
68              Barselona   1,636,732
3                Caloocan   1,661,584
23                    Şam   1,711,000
0                  Manila   1,846,513
69                Cakarta  10,560,000
28              Kallithea     100,050

In [16]:
top_10_city_smallest_population = df.sort_values(by='Population',ascending=False).head(10)
print(top_10_city_smallest_population[['City','Population']])

                   City Population
9        Port-au-Prince    987,310
60  Sint-Jans-Molenbeek     97,462
25               Asmara    963,000
61                 Seul  9,962,393
71               Kahire  9,539,673
54   Asnières-sur-Seine     85,191
41           Courbevoie     81,719
13                pasig    803,159
58        Modi'in Illit     80,894
6                 Dakka  8,906,136

In [58]:
#Task 2: Print out name of the country with at least 3 city
country_city_count = df['Country'].value_counts()
countries_with_at_least_3_cities = country_city_count[country_city_count >= 3]
print(countries_with_at_least_3_cities)

Country
 Filipinler *                     18
 Fransa *                         17
 Belçika *                         5
 İspanya *                         4
 Amerika Birleşik Devletleri *     3
 Endonezya *                       3
 İsrail *                          3
 Yunanistan *                      3
 Hindistan *                       3
Name: count, dtype: int64

In [25]:
#Task 3: Print out top 5 country with the most cities appear
top_5_with_most_cities = df.sort_values(by='Country',ascending=True).head(5) 
print(top_5_with_most_cities[['Country','City']])

                           Country            City
62     Amerika Birleşik Devletleri  Kore mahallesi
8      Amerika Birleşik Devletleri       Manhattan
37   Amerika Birleşik Devletleri *    Birlik Şehri
43   Amerika Birleşik Devletleri *   Batı New York
50   Amerika Birleşik Devletleri *         Hoböken